{
  "root": true,
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "prettier",
    "plugin:jsx-a11y/recommended"
  ],
  "parser": "@babel/eslint-parser",
  "env": { "browser": true, "es6": true },
  "settings": {},
  "plugins": ["react-hooks", "jsx-a11y"],
  "rules": {
    "comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "never"
      }
    ],
    "import/order": [
      "error",
      {
        "groups": ["builtin", "external", "internal", "parent", "sibling"],
        "pathGroups": [
          { "pattern": "./*.scss", "group": "sibling", "position": "after" }
        ],
        "pathGroupsExcludedImportTypes": ["react", "prop-types"],
        "alphabetize": { "order": "asc", "caseInsensitive": true }
      }
    ],
    "import/prefer-default-export": 0,
    "lines-between-class-members": ["error", "always"],
    "max-len": ["error", { "code": 120 }],
    "no-multiple-empty-lines": [
      "error",
      { "max": 1, "maxEOF": 0, "maxBOF": 0 }
    ],
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
    "no-trailing-spaces": "error",
    "object-curly-newline": 0,
    "react/jsx-filename-extension": ["error", { "extensions": [".js"] }],
    "react/jsx-props-no-spreading": 0,
    "react/jsx-uses-react": 0,
    "react/react-in-jsx-scope": 0,
    "react/sort-prop-types": [
      "error",
      {
        "callbacksLast": true,
        "ignoreCase": false,
        "requiredFirst": true,
        "sortShapeProp": true,
        "noSortAlphabetically": false
      }
    ],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "error"
  },
  "overrides": [
    {
      "files": [
        "*.test.js",
        "test.config.js",
        "*.mock.js",
        "**/__mock-data__/*.*",
        "**/__mocks__/*.*"
      ],
      "extends": [
        "plugin:jest/recommended",
        "plugin:jest-dom/recommended",
        "plugin:testing-library/react"
      ],
      "plugins": ["jest", "jest-dom", "testing-library"],
      "env": { "jest": true },
      "globals": {
        "renderWithProviders": "readonly",
        "runJestTimers": "readonly",
        "wrapperWithProviders": "readonly",
        "selectMonthPicker": "readonly"
      },
      "rules": {
        "import/no-extraneous-dependencies": 0,
        "newline-per-chained-call": 0,
        "global-require": 0,
        "prefer-promise-reject-errors": 0
      }
    },
    {
      "files": ["**/__mocks-data__/**/*.js", "**/__mocks__/**/*.js"],
      "rules": {
        "max-len": 0,
        "react/prop-types": 0
      }
    }
  ]
}
